﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FullIdentity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FullIdentity</a>
              
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin Main Page</a>
                        </li>
                
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top:10px;">
        <div class="row">
            <div class="col-md-8">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <div class="col-md-4">
                <h3>Menu</h3>
                <a class="btn btn-danger btn-block" asp-area="" asp-controller="Admin" asp-action="Users">Users</a>
                <a class="btn btn-danger btn-block" asp-area="" asp-controller="Admin" asp-action="Roles">Roles</a>
                <a class="btn btn-danger btn-block" asp-area="" asp-controller="Member" asp-action="LogOut">Cixis</a>
            </div>
        </div>
   
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - FullIdentity - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
