﻿@model FullIdentity.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1>Sifreni Deyis</h1>

<hr />

@if (ViewBag.success == "true")
{
    <div class="alert alert-info">
        Sifreniz deyisdi
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <form asp-action="ChangePassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OldPassword" class="control-label"></label>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPasswordConfirm" class="control-label"></label>
                    <input asp-for="NewPasswordConfirm" class="form-control" />
                    <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sifreni deyis" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}

