﻿@model FullIdentity.Models.MemberViewModel

@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1>EditUser</h1>

@if (ViewBag.success == "true")
{
    <div class="alert alert-info">
        Melumatlariniz guncellendi
    </div>
}
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditUser" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" type="date" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" asp-items="@ViewBag.Gender" class="form-contol"></select>
            </div>
            <div class="form-group">
                <input type="file" name="userPicture" class="form-control-file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Yenile" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


