﻿@model MemberViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<div class="row">
    <div class="col-sm-3">
        <img width="100" height="100" src="@Model.Picture" />
    </div>
    <div class="col-sm-9">
        <h3>Isdifaeci melumatlari</h3>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Isdifadeci Adi:</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Telefon NO:</th>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <th>City:</th>
                <td>@Model.City</td>
            </tr>
            <tr>
                <th>BirthDate:</th>
                <td>@Model.BirthDate?.ToShortDateString()</td> @*burda sual isaresi null deyilse cevir*@
            </tr>
            <tr>
                <th>Gender:</th>
                <td>@Model.Gender</td>
            </tr>
        </table>
    </div>
</div>




