﻿@model List<System.Security.Claims.Claim>

@{
    ViewData["Title"] = "MyClaims";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h3>MyClaims</h3>


<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Dagitici</th>
            <th>Tip</th>
            <th>Deyer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Subject.Name</td>
                <td>@item.Issuer</td>
                <td>@item.Type</td>
                <td>@item.Value</td>
            </tr>
        }

    </tbody>
</table>

