﻿@model List<RoleAssignViewModel>

@{
    ViewData["Title"] = "RoleAssign";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>RoleAssign</h3>

<form method="post" asp-action="RoleAssign" asp-controller="Admin">
    @for (int i = 0; i < Model.Count; i++)
    {
    <div class="form-check">
        <input type="checkbox" asp-for="@Model[i].Exist" class="form-check-input" />
        <label>@Model[i].RoleName</label>

        <input asp-for="@Model[i].RoleName" type="hidden" />
        <input asp-for="@Model[i].RoleId" type="hidden" />
    </div>
    }

    <input  class="btn btn-success" type="submit" value="AddRole"/>
</form>
