﻿@model List<AppRole>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<a asp-action="CreateRole" asp-controller="Admin" class="btn btn-success">Create Role</a>
<h3>Roles</h3>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Role Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-warning" asp-action="EditRole" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-warning" asp-action="DeleteRole" asp-route-id="@item.Id">Delete</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>




