﻿@model List<AppUser>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Users</h3>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <td>Roles</td>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td user-roles="@item.Id"></td>
                <td>
                    <a class="btn btn-warning" asp-action="RoleAssign" asp-route-id="@item.Id">AddRole</a>
                </td>
            </tr>
        }
    </tbody>
</table>


