﻿@model FullIdentity.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}


<h4>Giris</h4>
<hr />
<div class="row">
    <div class="col-md-4 offset-4">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="checkbox" asp-for="RememberMe" class="custom-checkbox" /> Remember Me
            </div>
            <div class="form-group">
                <input type="submit" value="Giris" class="btn btn-primary" />
            </div>
        </form>

        <div class="btn btn-lg">
            <a asp-action="ResetPassword" class="btn-link">Sifreni berpa et</a>
        </div>

        <a class="btn btn-block btn-success" asp-action="FacebookLogin" asp-controller="Home">Facebook Login</a>
        <a class="btn btn-block btn-danger" asp-action="GoogleLogin" asp-controller="Home">Google Login</a>
        @*<a class="btn btn-block btn-info" asp-action="MicrosoftLogin" asp-controller="Home">Microsoft Login</a>*@
    </div>
</div>


