﻿@model FullIdentity.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<h1>Sifreni berpa et</h1>

@if (ViewBag.status != null)
{
    <div class="alert alert-info">
        Yenileme Linki Emailinize gonderildi.Zehmet olmasa emailinizi yoxlayin
    </div>
}
else
{

<div class="alert alert-info">
    Sifrenizi berpa etmek ucun email adresinizi daxil edin ve gonderilecek linkden sifrenizi yenileyin
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gonder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

}

