﻿@model FullIdentity.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPasswordConfirm";
}

<h1>Sifreni deyis</h1>

@if (ViewBag.success != null)
{
    <div class="alert alert-info">
        Sifreniz muveffeqiyyetle deyisdi.
        <a asp-action="Login" asp-controller="Home">Giris</a>
    </div>
}
else
{


    <hr />
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form asp-action="ResetPasswordConfirm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sifreni deyis" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


}

